body {
    background-color: #2E2F34;
}

#root, #roulette, #form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 2rem;
}

#roulette {
    overflow: auto;
}